.hero {
    background-image: linear-gradient(315deg,
            rgba(255, 222, 230, .6) 0%,
            rgba(254, 152, 102, .6) 50%,
            rgba(3, 145, 155, .6) 100%),
        url('../../assets/clouds.jpg');
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}