#about {
    padding-left: 3rem;
    font-family: 'Lato Regular', 'Times New Roman', Times, serif;

    @media screen and (max-width: 385px) {
        padding-left: 1rem;
    }

    @media screen and (max-width: 335px) {
        padding-left: 0.01rem;
    }
}

.card {
    width: fit-content;
    margin: 2rem 0 2rem 0;
    border-radius: 50%;
    color: rgba(3, 145, 155, 1);
    background-image: radial-gradient(rgba(254, 152, 102, .2) 0%,
            rgba(254, 152, 102, .5) 50%,
            rgba(254, 152, 102, 1) 100%);
}

.card-title {
    color: #181B46;

}