#about {
    padding-left: 3rem;
    font-family: 'Lato Regular', 'Times New Roman', Times, serif;

    @media screen and (max-width: 385px) {
        padding-left: 1rem;
    }

    @media screen and (max-width: 335px) {
        padding-left: 0.01rem;
    }
}

.card {
    width: fit-content;
    margin: 2rem 0 2rem 0;
    border: solid rgba(254, 152, 102, 1);
    color: rgba(3, 145, 155, 1);
    background-color: rgba(255, 222, 230, 1);

    // @media screen and (max-width: ;) {

    // }
}

.card-title {
    color: #181B46;
}

.frame {
    margin-left: 13rem;
    margin-top: -5rem;
}

.lib {
    margin-left: 31rem;
    margin-top: -20rem;
}

.env {
    margin-left: 45rem;
    margin-top: -5rem;
}

.misc {
    margin-left: 28rem;
    margin-top: -15rem;
}