// $rotationAmt: -9;

.hero {
    // background-image: var(--bs-gradient);
    // background-color: #0d6efd;
    // color: #C17A2A;
    background: rgb(255, 222, 230);
    background: linear-gradient(315deg,
            white 0%,
            gray 50%,
            black 100%);
    ;


    h1 {
        font-family: 'Lato Thin', 'Times New Roman', Times, serif;
        color: white;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: white;
        font-size: 3rem;
        // transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
        padding: 4rem 1rem 2rem 7rem;

        // overflow: hidden;
        // text-shadow:
        //     3px 3px 0 white,
        //     -1px -1px 0 white,
        //     1px -1px 0 white,
        //     -1px 1px 0 white,
        //     1px 1px 0 white;

        @media screen and (max-width: 460px) {
            padding: 2rem .5rem 1rem 3.5rem;
        }

        @media screen and (max-width: 360px) {
            padding: 0.5rem 0 2rem 1rem;
        }

        @media screen and (max-width: 275px) {
            padding: 0;
            font-size: medium;
        }
    }

    h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        color: whitesmoke;
        padding: 0 10rem 5rem 10rem;

        @media screen and (max-width: 524px) {
            padding: 0 5rem 2.5rem 5rem;
        }

        @media screen and (max-width: 360px) {
            padding: 0 2.5rem 0.75rem 2.5rem;
        }

        @media screen and (max-width: 275px) {
            padding: 0;
        }
    }
}

.bold {
    font-family: 'Lato Bold';
}